@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

.datepicker-container .react-datepicker-wrapper {
  width: 100%;
}

.datepicker-container .react-datepicker__input-container input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
}

/* Fix for Safari iOS bounce effect */
html, body {
  overscroll-behavior-y: none;
}